{% assign talk = include.talk %}
{% assign large = include.large | default: false %}
{% assign full = include.full | default: false %}
{% assign bare = include.bare | default: false | bool %}
{% if large %}
  {% assign embed_width = 240 %}
  {% assign embed_height = 135 %}
{% else %}
  {% assign embed_width = 192 %}
  {% assign embed_height = 108 %}
{% endif %}

{% if bare == true %}
  {% assign blockclass = "pub" %}
{% else %}
  {% assign blockclass = "pub block side-embed-container" %}
{% endif %}

<div id="{{ talk.key }}" class="{{ blockclass }}">
{% if bare != true and talk.url contains "youtube" %}
<div style="margin-right: 1rem; break-after: always; align-self: center;">
  <iframe width="{{ embed_width }}" height="{{ embed_height }}" src="{{ talk.url | replace: "watch", "embed" }}" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</div>
{% endif %}
<div>
<!-- title -->
{% if talk.url %}
  <a href="{{ talk.url }}" class="pubtitle venue-conference">{{ talk.title }}</a>
{% else %}
  <span class="pubtitle venue-conference">{{ talk.title }}</span>
{% endif %}
<br />
<!-- description -->
<span class="description">{{ talk.description }}</span>
<br />
<!-- links -->
<span class="publinks">
{% for link in talk.links %}
    <a class="publink publink-{{ link[0] }}" href="{{ link[1] }}">{{ link[0] }}</a>
{% endfor %}
</span>
<!-- instances -->
{% if full %}
<ul>
  {% for instance in talk.talks %}
    <li>
      <span>{{ instance.date | date: "%b %d, %Y" }}: </span>
      {% if instance.location.url %}
        <a href="{{ instance.location.url }}">{{ instance.location.name }}</a>
      {% else %}
        <span>{{ instance.location.name }}</span>
      {% endif %}
      <!-- instance links -->
      <span>
      {% for link in instance.links %}
          <a href="{{ link[1] }}">[{{ link[0] }}]</a>
      {% endfor %}
      </span>
    </li>
  {% endfor %}
</ul>
{% else %}
  {% for instance in talk.talks %}
      <div>
        <span class="talk-meta">{{ instance.date | date: "%b %-d, %Y" }} •
        {% if instance.location.name %}
          {% if instance.location.url %}
            <a href="{{ instance.location.url }}">{{ instance.location.name }}</a>
          {% else %}
            <span>{{ instance.location.name }}</span>
          {% endif %}
        {% endif %}
        </span>
      </div>
  {% endfor %}
{% endif %}
</div>
</div>