ol.bibliography {
    list-style-type: none;
    margin-left: 0;
}

$block-bg-color: #f0f0f0;
$block-border-color: #e8e8e8;

.block {
    background-color: $block-bg-color;
    border-style: solid;
    border-width: 1px;
    border-color: $block-border-color;
    padding: 1rem;

    margin-bottom: 1rem;

    > :last-child {
        margin-bottom: 0;
    }
}

.side-embed-container {
  display: flex;
}

@media screen and (max-width: 600px) {
  .side-embed-container {
    flex-direction: column;
  }
}

@media screen and (min-width: 600px) {
  .side-embed-container {
    flex-direction: row;
  }
}


.pubs-section {
    margin-left: 30px;
}

.pub {
    margin: 1rem 0;
}

.pubtitle {
    // font-size: 14pt;
}

.pubauthors {

}

.pubauthor {
    color: $text-color;
    &:visited {
        color: $text-color;
    }
}

.pubvenue {
    font-style: italic;
}

.pubaccolades {
    font-weight: bold;
}

$venue-preprint-primary-color: #991717;
$venue-preprint-secondary-color: darken($venue-preprint-primary-color, 15%);
$venue-workshop-primary-color: #b06000;
$venue-workshop-secondary-color: darken($venue-workshop-primary-color, 15%);
$venue-conference-primary-color: $link-base-color;
$venue-conference-secondary-color: darken($venue-conference-primary-color, 15%);
$venue-findings-primary-color: #2727a9;
$venue-findings-secondary-color: darken($venue-findings-primary-color, 15%);
$venue-journal-primary-color: #076907;
$venue-journal-secondary-color: darken($venue-journal-primary-color, 15%);
$venue-thesis-primary-color: #888888;
$venue-thesis-secondary-color: darken($venue-preprint-primary-color, 15%);

$venue-unspecified-color: magenta;

.venue- {
  color: $venue-unspecified-color !important;
  &:visited {
    color: $venue-unspecified-color !important;
  }
}
.venue-conference {
  color: $venue-conference-primary-color !important;
  &:visited {
    color: $venue-conference-primary-color !important;
  }
}
.venue-findings {
  color: $venue-findings-primary-color !important;
  &:visited {
    color: $venue-findings-primary-color !important;
  }
}
.venue-preprint {
  color: $venue-preprint-primary-color !important;
  &:visited {
    color: $venue-preprint-primary-color !important;
  }
}
.venue-workshop {
  color: $venue-workshop-primary-color !important;
  &:visited {
    color: $venue-workshop-primary-color !important;
  }
}
.venue-journal {
  color: $venue-journal-primary-color !important;
  &:visited {
    color: $venue-journal-primary-color !important;
  }
}
.venue-thesis {
  color: $venue-thesis-primary-color !important;
  &:visited {
    color: $venue-thesis-primary-color !important;
  }
}

.venue-conference-toggle {
  color: $venue-conference-primary-color !important;
  &:hover {
    text-decoration: line-through;
    color: $venue-conference-secondary-color !important;
  }
}
.venue-conference-toggle-off {
  text-decoration: line-through;
}
.venue-findings-toggle {
  color: $venue-findings-primary-color !important;
  &:hover {
    text-decoration: line-through;
    color: $venue-findings-secondary-color !important;
  }
}
.venue-findings-toggle-off {
  text-decoration: line-through;
}
.venue-preprint-toggle {
  color: $venue-preprint-primary-color !important;
  &:hover {
    text-decoration: line-through;
    color: $venue-preprint-secondary-color !important;
  }
}
.venue-preprint-toggle-off {
  text-decoration: line-through;
}
.venue-workshop-toggle {
  color: $venue-workshop-primary-color !important;
  &:hover {
    text-decoration: line-through;
    color: $venue-workshop-secondary-color !important;
  }
}
.venue-workshop-toggle-off {
  text-decoration: line-through;
}
.venue-journal-toggle {
  color: $venue-journal-primary-color !important;
  &:hover {
    text-decoration: line-through;
    color: $venue-journal-secondary-color !important;
  }
}
.venue-journal-toggle-off {
  text-decoration: line-through;
}
.venue-thesis-toggle {
  color: $venue-thesis-primary-color !important;
  &:hover {
    text-decoration: line-through;
    color: $venue-thesis-secondary-color !important;
  }
}
.venue-thesis-toggle-off {
  text-decoration: line-through;
}

$badge-font-weight: bold;
$badge-line-height: 1em;
$badge-border-radius: 4px;

$badge-link-hover-color: white;
$badge-color: white;
$badge-bg: $link-base-color;


// taken from bootstrap .badge 
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_badges.scss
.publink {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: smaller;
  font-weight: $badge-font-weight;
  line-height: $badge-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: $badge-bg;
  border-radius: $badge-border-radius;

  color: $badge-color;
  font-family: sans-serif;
  // text-transform: uppercase;

  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for badges in buttons
  .btn & {
    position: relative;
    top: -1px;
  }

  .btn-xs &,
  .btn-group-xs > .btn & {
    top: 0;
    padding: 1px 5px;
  }

  // [converter] extracted a& to a.badge

  // Account for badges in navs
  // .list-group-item.active > &,
  // .nav-pills > .active > a > & {
  //   color: $badge-active-color;
  //   background-color: $badge-active-bg;
  // }

  .list-group-item > & {
    float: right;
  }

  .list-group-item > & + & {
    margin-right: 5px;
  }

  .nav-pills > li > a > & {
    margin-left: 3px;
  }
}

// Hover state, but only for links
a.publink {
    &:visited {
        color: $badge-color;
    }
    &:hover,
    &:focus {
        color: $badge-link-hover-color;
        text-decoration: none;
        cursor: pointer;
    }
}

.publink-s2, .publink-lw {
    background-color: #292b2c
}

.publink-pdf, .publink-poster, .publink-paper {
    background-color: #5cb85c
}

.publink-code, .publink-twitter {
    background-color: #5bc0de
}

.publink-slides, .publink-talk {
    background-color: #f0ad4e
}

.publink-website, .publink-reviews, .publink-video {
    background-color: #d9534f
}

.publink-bib {
    background-color: #555555
}
