---
---

{% assign metadata = site.data.pubdata.pubs | where: "key", entry.key | first %}
{% if metadata.venue %}
  {% assign venue = site.data.pubdata.venues | where: "name", metadata.venue | first %}
  {% assign venue_type = venue.type %}
{% else %}
  {% assign venue = false %}
  {% assign venue_type = "" %}
{% endif %}
<div id="{{ entry.key }}" class="pub pub-{{ venue_type }}">
<!-- title -->
{% if metadata.url %}
  {% assign url = metadata.url %}
{% else %}
  {% assign url = entry.url %}
{% endif %}
{% if url %}
  <a href="{{ url }}" class="pubtitle venue-{{ venue_type }}">{{ entry.title }}</a>
{% else %}
  <span class="pubtitle venue-{{ venue_type }}">{{ entry.title }}</span>
{% endif %}
<br />
<!-- authors -->
<span class="pubauthors">
{% for author in entry.author_array %}
  {% assign second_to_last = forloop.length | minus: 1 %}
  {% assign pre_colast = forloop.length | minus: metadata.colast %}
  {% assign author_name = author.first | append: " " | append: author.last %}
  {% assign cur_author = site.data.pubdata.authors | where: "name", author_name | first %}
  {% if cur_author and cur_author.url %}<a class="pubauthor" href="{{ cur_author.url }}">{{ cur_author.name }}</a>{% else %}<span class="pubauthor">{{ author_name }}</span>{% endif %}{% if forloop.last %}{% elsif forloop.index == second_to_last %}{% else %},{% endif %}{% if metadata.cofirst and forloop.index <= metadata.cofirst  %}*{% endif %}{% if metadata.colast and forloop.index > pre_colast %}†{% endif %}{% if forloop.index == second_to_last %} and {% endif %}
{% endfor %}
</span>
<br />
<!-- venue: usually we want to override this for a shorter name -->
<span class="pubvenue venue-{{ venue_type }}">
{% if venue and venue.url %}<a class="venue-{{ venue_type }}" href="{{ venue.url }}">{{ venue.name }}</a>
{% elsif metadata.venue %}{{ metadata.venue }}
{% elsif entry.booktitle %}{{ entry.booktitle }}
{% else %}{{ entry.publisher }}
{% endif %}
{% if metadata.venue_note %}{{ metadata.venue_note }}{% endif %}
</span>
{% if metadata.accolades %}
<span class="pubaccolades">({{ metadata.accolades }}) </span>
{% endif %}
<br />
<!-- links -->
<span class="publinks">
{% for link in metadata.links %}
    <a class="publink publink-{{ link[0] }}" href="{{ link[1] }}">{{ link[0] }}</a>
{% endfor %}
<!-- bibtex -->
{% assign bib_id = entry.key | append: "-bib" %}
    <a class="bib publink publink-bib" id="{{ bib_id }}" href="#" onclick="showCopied(&quot;#{{ bib_id }}&quot;); return false;" data-clipboard-text="{{ entry.bibtex }}">bib</a>
</span>
{% if metadata.media %}
<br />
<span class="pubmedia">
Media: 
{% for media in metadata.media %}
<a class="pubmedia-item" href="{{ media.url }}">{{ media.name }}</a>{% if forloop.index < forloop.length %}, {% endif %}
{% endfor %}
</span>
{% endif %}
</div>
